<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614936332796-etkkmi9k7e58m5qq5pmd8e951celu57e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614936332796-etkkmi9k7e58m5qq5pmd8e951celu57e</string>
	<key>API_KEY</key>
	<string>AIzaSyDnvnx1Chc0R00zl243hCwGjXZza3t7XhU</string>
	<key>GCM_SENDER_ID</key>
	<string>614936332796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBloc</string>
	<key>PROJECT_ID</key>
	<string>bloc-learning-ee669</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-learning-ee669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614936332796:ios:96d28e62a249f978a10a79</string>
</dict>
</plist>